html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong,
ol, ul, li,
table, tr, th, td,
form {

  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

div {
	width: 600px;
}

hr {
	border-bottom-style: none;
	border: 1px solid black;
}

h1 {
	font-size: 120%;
	font-weight: bold;
	margin-top: 20px;
}

h2 {
	font-size: 110%;
	font-weight: bold;
	margin-top: 15px;
}

h3 {
	font-size: 100%;
	text-decoration: underline;
	margin-top: 10px;
}

table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px;
	vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(odd){ 
		background: #eeeeee;
}
tr:nth-child(even){
		background: #cccccc;
}

ul>li, ol>li {
     line-height:160%; 
}

ol.literature {
	border-top: 1px solid black;
	padding-left: 30px;
	padding-top: 10px;
	width: 600px;
}
ol.literature>li {
	font-size: 80%;
	padding-top: 5px;
}
ol.literature::before {
    content: "References:";
    font-weight: bold;
    font-size: 80%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

a.breadcrumb, .breadcrumb, .breadcrumb>a {
	font-size: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	color: #000000;
	text-decoration: none;
}

a {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	background: #cccc00;
}

img:hover {
    transform: scale(2);
    border: 1px solid black;
    background: #ffffff;
    box-shadow: 2px 2px 10px black;
}

div.footer, div.footer>div {
	font-size: 10px;
	font-style: italic;
	color: #555555;
}

span.button {
	background: #eeeeee;
	border: 1px solid black;
	box-shadow: 1px 1px 1px grey;
	padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    white-space:nowrap;
}

span.menu {
	background: #eeeeee;
	border: 1px solid grey;
	padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    white-space:nowrap;
}

span.tab {
	background: #eeeeee;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 1px -1px 1px grey;
	padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px 2px 0px 0px;
    white-space:nowrap;
}

span.buttonred {
	color: #ff0000;
	background: #eeeeee;
	font-weight: bold;
	border: 1px solid black;
	box-shadow: 1px 1px 1px grey;
	padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #550000;
}

span.buttongreen {
	color: #008800;
	background: #eeeeee;
	font-weight: bold;
	border: 1px solid black;
	box-shadow: 1px 1px 1px grey;
	padding-left: 2px;
    padding-right: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #003300;
    border-radius: 2px;
}

span.buttonyellow {
	color: #ffff00;
	background: #eeeeee;
	font-weight: bold;
	border: 1px solid black;
	box-shadow: 1px 1px 1px grey;
	padding-left: 2px;
    padding-right: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333300;
    border-radius: 2px;
}

#parallelogram { 
	width: 16px; 
	height: 16px; 
	-webkit-transform: skew(-10.3deg); 
	-moz-transform: skew(-10.3deg); 
	-o-transform: skew(-10.3deg); 
	background: #005aff; 
	margin-right: 2px;
}