#
#Fri Mar 17 16:15:18 CET 2017
app.country=US
sim.ProcessName=reference
app.SimulationResultsPathPrefix=Results
sim.MachineConfigName=MdlConfig1
app.logfile=emod.log
app.MachineComponentDBPathPrefix=MachineComponentDB
app.MaterialDBPathPrefix=MaterialDB
app.language=en
app.DuctDBPathPrefix=DuctDB
app.MachineDataPathPrefix=Machines
sim.MachineName=Schaublin42L_TMI3
sim.SimulationConfigName=SimConfig1
