#
#Tue Jun 10 21:17:41 CEST 2014
app.country=CH
sim.ProcessName=Measurment20111209
sim.MachineConfigName=TestConfigManick
app.logfile=emod.log
app.MachineComponentDBPathPrefix=MachineComponentDB
app.MaterialDBPathPrefix=MaterialDB
app.language=de
app.MachineDataPathPrefix=Machines
sim.MachineName=Test
sim.SimulationConfigName=SimConfig20111209
