#
#Mon Feb 08 09:42:50 CET 2016
app.country=CH
sim.ProcessName=test
sim.MachineConfigName=FluidTest
app.logfile=emod.log
app.MachineComponentDBPathPrefix=MachineComponentDB
app.MaterialDBPathPrefix=MaterialDB
app.language=de
app.DuctDBPathPrefix=DuctDB
app.MachineDataPathPrefix=Machines
sim.MachineName=TestCfgDissZuest
sim.SimulationConfigName=SimConfigFluid
