#
#Fri May 05 14:41:54 CEST 2017
app.Machines=Temp
app.country=US
>>>>>>>=a9f390b7bddd4b840ab542f3feb009f4e7e093dd
app.SimulationResultsPathPrefix=Results
<<<<<<<=HEAD
app.logfile=emod.log
app.MachineComponentDBPathPrefix=MachineComponentDB
app.MaterialDBPathPrefix=MaterialDB
app.language=en
app.DuctDBPathPrefix=DuctDB
app.MachineDataPathPrefix=Temp
=\=\=\=\=\=\=
